# Server
PORT=4000
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000

# Database (PostgreSQL)
# REQUIRED: replace USER and PASSWORD
DATABASE_URL="postgresql://abdo:abdo@localhost:5432/graduation_db?schema=public"

# JWT
# REQUIRED: put a strong secret
JWT_SECRET="change-me"
JWT_EXPIRES_IN="1d"
JWT_REMEMBER_EXPIRES_IN="30d"

# SMTP (Email Verification)
# OPTIONAL in dev if you disable sending in code
# For Gmail you must use App Password (16 chars), NOT your real password
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER="your.sender@gmail.com"
SMTP_PASS="your_app_password_here"
MAIL_FROM="Graduation Project <your.sender@gmail.com>"

# Verification
VERIFICATION_CODE_TTL_MIN=10
